.sideBar{
    position: fixed !important;     /* Fixed Sidebar (stay in place on scroll and position relative to viewport) */
    height: inherit !important;
    width: 75px;     /* Set the width of the sidebar */
    z-index: 1;      /* Stay on top of everything */
    background-color: #222; /* Black */
    overflow-x: hidden;     /* Disable horizontal scroll */
    padding-top: 10px;
}

.body{
    position: fixed;
    z-index: 1 !important;
    /* overflow-x: visible !important; */
    overflow-x: visible !important;
    text-overflow: ellipsis !important;
}