.sideBar{
    /* position: fixed !important;     Fixed Sidebar (stay in place on scroll and position relative to viewport) */
    height: 100% !important;
    width: 75px !important;    /* Set the width of the sidebar*/
    z-index: 1 !important;      /* Stay on top of everything */
    background-color: rgb(39, 37, 37); /* Black */
    overflow-x: hidden;     /* Disable horizontal scroll */
    padding-top: 10px;
}

@media(max-width: 600px) {
    .sideBar{
        margin-top: 4rem !important;
        height: 75px !important;
        width: 100% !important;    /* Set the width of the sidebar*/
        z-index: 1 !important;      /* Stay on top of everything */
        background-color: rgb(39, 37, 37); /* Black */
        overflow-y: hidden;     /* Disable horizontal scroll */
        padding-top: 10px;
    }

}


.dropdown-menu{
    z-index: 1000 !important;
}

.v-scroll{
    height: 88vh !important;
    overflow-y: scroll !important;
}

.mrg-1-min{
    margin-top: -1rem !important;
}
